<h1 class="h1">計測</h1>
<br><br>
<div button>
    <button id="start" class="btn btn-info">START</button>
    <button id="finish" class="btn btn-danger">FINISH</button>
</div>
<br>
<table class="table">
  <thead class="thead h1">
        <th>距離</th>
        <th>回数</th>
        <th>スコア</th>
        <th>消費カロリー</th>
    </tr>
  </thead>
  <tbody>
      <tr id="tr" class="display-1"></tr>
  </tbody>
  </table>
<br>
<script src="/javascripts/BLE.js" defer></script>
